.main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.slider-gallery {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  cursor: pointer;

  &__btn-prev,
  &__btn-next {
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;

    background-color: $color-neutral-white;
    border-radius: 50%;
  }
  &__btn-prev {
    left: 5%;
  }
  &__btn-next {
    right: 5%;
  }

  &__img-wrap {
    transition: transform 1s ease;
    position: absolute;
    width: 100%;
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.75rem;
  }
  &__dots-dot {
    border: none;
    background-color: #fff;
    opacity: 0.7;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
  }
  &__desktop-thumbnails {
    display: none;
  }
  &__thumbnail-wrap {
    border-radius: 1rem;
    border: 2px solid transparent;
    transition: border 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }

  &__thumbnail-wrap {
    img {
      transition: 0.3s ease;
    }
    img:hover {
      opacity: 0.4;
    }
  }

  &__thumbnail-wrap--active {
    border: 2px solid $color-primary-orange;
    img {
      opacity: 0.4;
    }
  }
  &__dots-dot--active {
    background-color: #666;
    opacity: 1;
  }
}

.product {
  margin-top: 1rem;
  &__company {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $color-primary-orange;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  &__heading {
    color: $color-neutral-very-dark-blue;
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    margin-top: 0.5rem;
  }

  &__description {
    color: $color-neutral-dark-grayish-blue;
    line-height: 1.5;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  &__pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }

  &__price-wrap {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
  }

  &__discount {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: $color-primary-orange;
    background-color: $color-primary-pale-orange;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    margin-left: 1rem;
  }

  &__full-price {
    font-size: 1.2rem;
    color: $color-neutral-grayish-blue;
    text-decoration: line-through;
    justify-self: end;
    align-self: center;
  }

  &__cta {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__quantity {
    position: relative;

    &-input {
      width: 100%;
      padding: 1.2rem 0;
      border-radius: 0.5rem;
      border: none;
      background-color: rgb(240, 240, 240);
      text-align: center;
      color: $color-neutral-very-dark-blue;
      font-weight: $font-weight-bold;

      &::placeholder {
        color: $color-neutral-very-dark-blue;
        font-weight: $font-weight-bold;
      }
    }

    &-btn {
      padding: 1rem;
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: filter 0.2s ease-in-out;
    }

    &-btn:hover {
      filter: brightness(150%);
      -webkit-filter: brightness(150%);
    }
    &-btn--minus {
      left: 2%;
    }
    &-btn--plus {
      right: 2%;
    }
  }
  &__input-warning {
    text-align: center;
    line-height: 0.8;
    color: red;
    transition: all 0.5s ease-out;
  }
  &__add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    background-color: $color-primary-orange;
    padding: 1.2rem 0;
    border-radius: 0.8rem;
    transition: opacity 0.2s ease-in-out;

    color: $color-neutral-white;
    font-weight: $font-weight-bold;

    img {
      filter: brightness(300%);
    }
  }

  &__add-to-cart-btn:hover {
    opacity: 0.6;
  }
}

// TABLETS MEDIA QUERIES
@media (min-width: 47.9em) and (orientation: portrait) and (height <= 80em) {
  .slider-gallery {
    height: 45vh;

    &__img-wrap {
      height: 45vh;
    }

    &__dots {
      gap: 2.5rem;
    }

    &__dots-dot {
      width: 1rem;
      height: 1rem;
    }

    &__btn-prev,
    &__btn-next {
      width: 5rem;
      height: 5rem;

      img {
        width: 1.5rem;
        height: 2rem;
      }
    }
  }

  .product {
    &__cta {
      gap: 1rem;
    }
    &__company {
      font-size: clamp(0.8rem, 1.8vh, 2.5rem);
    }
    &__heading {
      font-size: clamp(2rem, 4vh, 3.5rem);
    }

    &__description {
      font-size: clamp(1rem, 1.5vh, 1.25rem);
    }
    &__price {
      font-size: clamp(1.8rem, 4vh, 3rem);
    }
    &__full-price {
      font-size: clamp(1.2rem, 2vh, 1.8rem);
    }

    &__quantity-input {
      padding: 2rem 0;
      font-size: 1.75rem;
    }
    &__quantity-btn {
      img {
        width: 1.5rem;
      }
    }
    &__add-to-cart-btn {
      padding: 2rem 0;
      font-size: 1.5rem;

      img {
        width: 2rem;
      }
    }
  }
}

@media (width >= 60em) and (orientation: landscape) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: clamp(4rem, 8vw, 7rem);
    width: 80%;
    height: 90%;
    max-height: 55rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: calc(2rem + 4vh) 0 4rem 0;
  }

  .slider-gallery {
    grid-column: 1/2;
    grid-row: 1/3;
    height: auto;
    border-radius: 1rem;
    &__img-wrap {
      height: 100%;
      border-radius: 1rem;
      img {
        border-radius: 1rem;
        height: 100%;
      }
    }

    &__btn-prev,
    &__btn-next {
      display: none;
    }

    &__dots {
      display: none;
    }

    &__desktop-thumbnails {
      width: 100%;
      height: max-content;
      display: flex;
      gap: 1.5rem;
      grid-column: 1/2;
      grid-row: 3/4;
      margin-top: 2rem;
    }
    &__thumbnail-wrap {
      img {
        width: 100%;

        border-radius: 1rem;
      }
    }
  }
  .product {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;

    &__company {
    }

    &__heading {
      font-size: clamp(1.5rem, 5vh, 3rem);
      line-height: 1.2;
      margin-top: calc(0.5rem + 0.8vh);
    }
    &__description {
      margin-top: calc(1rem + 1vh);
      font-size: clamp(1rem, 1vh, 1.125rem);
    }

    &__discount {
      font-size: 1rem;
    }

    &__pricing {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
    &__price {
      font-size: clamp(1.5rem, 2vw, 2.5rem);
    }
    &__full-price {
      justify-self: flex-start;
      font-size: clamp(1rem, 1vw, 1.5rem);
    }

    &__cta {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-template-rows: max-content 1fr;
    }
    &__input-warning {
      grid-column: 1/3;
      align-self: flex-end;
      justify-self: flex-start;
    }
    &__quantity-input {
    }
    &__add-to-cart-btn {
    }
  }
}
