.product {
  padding: 1.5rem 0;
  &__company {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $color-primary-orange;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  &__heading {
    color: $color-neutral-very-dark-blue;
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    margin-top: 1rem;
  }

  &__description {
    color: $color-neutral-dark-grayish-blue;
    line-height: 1.5;
    margin-top: 1rem;
  }
  &__pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }

  &__price-wrap {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }

  &__discount {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: $color-primary-orange;
    background-color: $color-primary-pale-orange;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    margin-left: 1rem;
  }

  &__full-price {
    font-size: 1.2rem;
    color: $color-neutral-grayish-blue;
    text-decoration: line-through;
    justify-self: end;
    align-self: center;
  }

  &__cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__quantity {
    position: relative;

    &-input {
      width: 100%;
      padding: 1.2rem;
      border-radius: 0.5rem;
      border: none;
      background-color: rgb(240, 240, 240);
      text-align: center;

      &::placeholder {
        color: $color-neutral-very-dark-blue;
        font-weight: $font-weight-bold;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &-btn--minus {
      left: 5%;
    }
    &-btn--plus {
      right: 5%;
    }
  }
  &__add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: $color-primary-orange;
    padding: 1.2rem 0;
    border-radius: 0.8rem;
  }
}
